<div class="container mt-4">
  <div class="sub-container">
    <h2 class="text-center mb-4">Registered Device Types:</h2>
    <div class="list-data">
      <ul class="list-group">
        <li *ngFor="let device of devices" class="list-group-item">
          <div class="card device-type-item mx-auto shadow-sm" style="max-width: 400px;">
            <div class="card-body">
              <h4 class="card-title">Type: {{ device }}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>