.device-item-list {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 300px;
}

.device-item-list:hover {
    transform: scale(1.05);
}

.device-data {
    background-color: #f5f7f7;
    border-radius: 10px;
    padding: 0.5em;
}

p {
    padding: 0px;
    margin: 0px 0 0.5em 0;
}

b {
    color: #333;
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.25em;
}

.badge {
    font-size: 0.8em;
    padding: 0.5em;
}