<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <div class="card bg-light p-2 user-data">
            <p class="mb-1">
                <b>Triggering Event:</b> {{ notification.triggeringEvent }}
            </p>
            <p class="mb-1">
                <b>Triggering Device Name:</b> {{ notification.triggeringDeviceName }}
            </p>
            <p class="mb-1">
                <b>riggering Device Model:</b> {{ notification.triggeringDeviceModel }}
            </p>
            <p class="mb-1">
                <b>Was Read:</b> {{ notification.wasRead }}
            </p>
            <p class="mb-1">
                <b>Date Time Of Event:</b> {{ notification.dateTimeOcurred }}
            </p>
        </div>
    </div>
 </div>
 